.col-3 {
    height: 10vw;
    padding: 1vh!important;
}

#table {
    width: 40%;
}

.game-cell {
    background-color: dodgerblue;
    display: table;
    border-radius: 10%;
    width: 99%;
    height: 99%;
}

.cell-content {
    display: none;
    vertical-align: middle;
    color: white;
    margin-top: 50%;
    font-size: 10vh;
}

.game-cell:hover {
    cursor: pointer;
}

#playAgainInterface {
    display: none;
}

#playAgain {
    margin-top: .5rem;
    outline: none;
    background-color: white;
    border: 2px solid #0275d8;
    border-radius: 2rem;
    padding: .125rem .65rem;
}

#playAgain:hover {
    color: white;
    background-color: #0275d8;
}

#play-again-menu {
    display: none;
}